version: "3.8"

services:
  server:
    image: iot-server
    container_name: iot-server
    networks:
      server_net:
        ipv4_address: 192.168.50.10
    ports:
      - "80:80"
      - "443:443"
      - "1883:1883"
      - "502:502"
      - "554:554"
      - "8554:8554"
      - "104:104"
      - "5060:5060/udp"
    volumes:
      - ./data:/data

  camera:
    image: iot-client
    depends_on:
      - server
    cap_add:
      - NET_ADMIN
    environment:
      DEVICE_TYPE: CAMERA_RTSP
      DEVICE_ID: cam01
      SERVER_IP: 192.168.50.10
    networks:
      server_net: {}

  printer:
    image: iot-client
    depends_on:
      - server
    cap_add:
      - NET_ADMIN
    environment:
      DEVICE_TYPE: PRINTER_SERVICE
      DEVICE_ID: prn01
      SERVER_IP: 192.168.50.10
    networks:
      server_net: {}

  plc:
    image: iot-client
    depends_on:
      - server
    cap_add:
      - NET_ADMIN
    environment:
      DEVICE_TYPE: PLC_MODBUS
      DEVICE_ID: plc01
      SERVER_IP: 192.168.50.10
    networks:
      server_net: {}

networks:
  server_net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.50.0/24
# To use macvlan replace the network definition with:
#  driver: macvlan
#  driver_opts:
#    parent: eth0
#  ipam:
#    config:
#      - subnet: 192.168.50.0/24
